{% extends 'blog/base.html' %}  <!-- extend template base.html -->

{% block content %}     <!-- in the place of base.html template with empty block content, set the following content -->
    <div class="post">
        {% if post.published_date %}        <!-- 'post' object was sent via views in 'post_detail' method -->
            <div class="date">
                {{ post.published_date }}
            </div>
        {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>     <!-- convert line-breaks into paragraphs  -->
    </div>
{% endblock %}